<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title if title else "Explainable AI" }}</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <section class="togglers-container">
          <a href="/"><img src="../static/assets/icons/image_icon.svg"></a>
          <a href="/"><img src="../static/assets/icons/share_icon.svg" id="share-1"><img src="../static/assets/icons/share_icon.svg" id="share-2"><img src="../static/assets/icons/share_icon.svg" id="share-3"></a>
          <a href="/"><img src="../static/assets/icons/comment_icon.svg"></a>
        </section>

        <section class="selectors-container">
          <a href="/"><img src="../static/assets/icons/state_icon.svg"></a>
          <a href="/"><img src="../static/assets/icons/state_icon.svg"></a>
        </section>
      </nav>
    </header>

    <main>
      <header>
        <h1>Explainable AI</h1>
      </header>

      <main class="content">
        {% block content %}
        <br />
        {% endblock %}
      </main>
    </main>
  </body>
</html>
