<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title if title else "Explainable AI" }}</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <section class="togglers-container">
          <a href="/">Toggle Image (TODO)</a>
          <a href="/">Toggle Classification (TODO)</a>
          <a href="/">Toggle Explainable AI Technique (TODO)</a>
        </section>

        <section class="selectors-container">
          <a href="/">Select Model (TODO)</a>
          <a href="/">Select xAI Technique (TODO)</a>
        </section>
      </nav>
    </header>

    <main>
      <h1>Explainable AI</h1>

      {% block content %}
      <br />
      {% endblock %}
    </main>
  </body>
</html>
